<ion-header>
  <ion-toolbar>
    <ion-title>Sound Test Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row align-items-center>
      <div class="fadeIn" style="margin: 0 auto;">We will be conducting a short voice interview</div>
    </ion-row>
    <ion-row align-items-center>
      <div class="fadeIn" style="margin: 0 auto;">Please answer the question with your voice</div>
    </ion-row>
    <ion-row align-items-center>
      <div class="fadeIn" style="margin: 0 auto;">Please press the button when you are ready</div>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="disableBtn" (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>