<ion-header>
  <ion-toolbar>
    <ion-title>Emotion Test Result</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <div class="fadeIn" style="margin: 0 auto;">Your reaction time is </div>
    </ion-row>
    <ion-row align-items-center>
      <div class="fadeIn" style="margin: 0 auto;">{{rt}} </div>
    </ion-row>
</ion-grid>

<div id="chartdiv2"></div>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="goNext()" class="next-btn">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>
