<ion-header>
  <ion-toolbar>
    <ion-title>Evaluation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-grid>
          <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;">Your possibility of having depression is </div>
          </ion-row>
          <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;">  </div>
          </ion-row>
          <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;">{{dCat}} </div>
          </ion-row>
          <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;"> </div>
          </ion-row>
          <ion-row align-items-center>
              <div class="fadeIn" style="margin: 0 auto;">This is not a professional diagnosis</div>
          </ion-row>
          <ion-row align-items-center>
              <div class="fadeIn" style="margin: 0 auto;">If you are feeling depressed</div>
          </ion-row> 
          <ion-row align-items-center>
              <div class="fadeIn" style="margin: 0 auto;">please seek help</div>
          </ion-row> 
      </ion-grid>

</ion-content>
