<ion-header>
  <ion-toolbar>
    <ion-title>Reaction Test Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row align-items-center>
        <div class="fadeIn" style="margin: 0 auto;">We will be conducting a reaction test</div>
      </ion-row>
      <ion-row align-items-center>
        <div class="fadeIn" style="margin: 0 auto;">Press the alert button when you feel a vibration</div>
      </ion-row>
      <ion-row align-items-center>
        <div class="fadeIn" style="margin: 0 auto;">Please press the button when you are ready </div>
      </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="disableBtn" (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
