<ion-header>
  <ion-toolbar>
    <ion-title>Sound Test</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [color]="isListen ? 'danger' : 'success'">
<!-- <ion-content> -->
 
  <div class="fadeIn">Please listen carefully, What did you eat for supper yesterday?</div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="disableBtn" (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
