<ion-header>
  <ion-toolbar>
    <ion-title>Depressed World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row align-items-center>
          <div class="fadeIn" style="margin: 0 auto;">792,000,000 people on Earth</div>
        </ion-row>
        <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;">are reported have mental disorders</div>
        </ion-row>
        <ion-row align-items-center>
            <div class="fadeIn" style="margin: 0 auto;">with 33% of them having depression</div>
        </ion-row>
        <ion-row align-items-center>
            <div id="chartdiv3"></div>
        </ion-row>
      <ion-row align-items-center>
          <div class="fadeIn" style="margin: 0 auto;">we haven't even counted the unreported ones</div>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer align-items-center>
 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-footer>
