body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv3 {
    width: 100%;
    height: 500px;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    // vertical-align: middle!important;
  }

  .next-btn {
    width: 75px;
    height: 75px;
  }