<ion-header>
  <ion-toolbar>
    <ion-title>Sound Test Result </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  Your switching pause time is: {{spt}} millisecconds

  <div id="chartdiv"></div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
