<ion-header>
  <ion-toolbar>
    <ion-title>Reaction Test</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
<ion-content (click)='screenClicky()' [color]="isReact ? 'danger' : 'success'">
<!-- <ion-content (click)='screenClicky()'> -->
  <div class="fadeIn">Please tap the button, when you feel a vibration</div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="!isTime" (click)="clicky()" [color]="buttonColor" class="next-btn">
      <ion-icon [name]="tapped ? 'arrow-round-forward' : 'warning'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
