<ion-header>
  <ion-toolbar>
    <ion-title>Emotion Perception Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="imgpath"></ion-img>

  <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="nextBtn" (click)="answer()" size="large" color="light" expand="block">
              <ion-icon name="happy"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button [disabled]="nextBtn" (click)="answer()" size="large" color="dark" expand="block">
              <ion-icon name="sad"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid> -->

</ion-content>

<ion-footer [hidden]="tested">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="nextBtn" (click)="answer()" size="large" color="light" expand="block">
          <ion-icon name="happy"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="nextBtn" (click)="answer()" size="large" color="dark" expand="block">
          <ion-icon name="sad"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-fab vertical="bottom" [hidden]="!tested" horizontal="center" slot="fixed">
  <ion-fab-button [disabled]="!nextBtn" (click)="goNext()" class="next-btn">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>