<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-fab>
        <ion-fab-button routerLink="/sound-test-guide" (click)="onClick()" class="start-btn">
          <ion-icon name="play-circle" class="larger"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-row>
  </ion-grid>
</ion-content>

