body, html {
  background-color: #111;
}

#chartdiv1{
  width: 100%;
  height: 500px;
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  vertical-align: middle!important;
}

.next-btn {
  width: 75px;
  height: 75px;
}