<ion-header>
  <ion-toolbar>
    <ion-title>Reaction Test Result</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  Your reaction time is {{rt}} milliseconds

  <div id="chartdiv1"></div>
  <!-- <canvas id="barChart"></canvas> -->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNext()" class="next-btn">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
